[Unit]
Description=Suspender loptop
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=20
ExecStart=/usr/local/bin/suspender.sh

[Install]
WantedBy=multi-user.target
